body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
}

.die {
    /* background-color: #000; */
    /* padding: 30px; */
    font-size: 40px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    align-items: center;
    display: block;
}

.font {
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    margin: 0px 10px 10px 0px;
    font-style: italic;
    color: rgb(244, 169, 70);
    transform: rotate(30deg);
    text-shadow: 2px 3px white;
    /* margin-left: 200px; */

}


.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font:hover {
    color: aqua;
}

.lft {
    display: flex;
    justify-content: center;
    /* margin: 0px; */
}

button {
    background-color: rgb(8, 17, 44);
    padding: 10px;
    color: bisque;
    border-radius: 20px;
}

.rgt {
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */




}

.rgt button {
    margin: 25px;
    padding: 25px;
    border-radius: 50px;
    background-color: grey;
    color: black;
}
.rgt button:hover{
    background-color: red;
}

.die li {
    font-size: 25px;
}

.spn {
    font-size: 60px;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    transform: rotate(5deg);
    animation: normal;
    animation-duration: 5s;
    
    

}

.spn:hover {
    background-color: green;
    animation: ease-in-out 3s;
    transform: rotate(40deg);
  
    
}

.main {
    display: flex;
    justify-content: end;
    align-items: center;

}

.zero {
    color: red;
    padding: 20px;
}

.half {
    margin-top: 10px;
    overflow: hidden;
    width: auto;
}

.navbar {
    background-color: rgb(204, 228, 220);
    box-shadow: 2px 3px 2px 3px gray;
    color: black;
    padding: 10px;
    margin-top: 10px;
}

.navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    padding: 10px 100px;
}

.haf {
    float: right;
    margin: 20px;
    border: 2px black solid;




}

.nav {
    background-color: rgb(37, 13, 13);
    height: 200px;
    width: auto;
    color:whitesmoke;
    padding: 10px;
}

.navbar-li {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    padding: 85px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transform: rotate(50deg);
}